* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Hanken Grotesk", Arial, sans-serif;
  background-color: #262626;
  color: #d9d9d9;
  padding: 20px;
  height: 100vh;
  display: flex;
  justify-content: center;
}

header {
  text-align: center;
}

header > h1 {
  font-size: 1.25rem;
  font-weight: 500;
  color: #f9f4da;
}

header > p {
  font-size: 0.875rem;
  max-width: 350px;
  color: #8e8e8e;
}

.game-status {
  height: 50px;
  margin: 30px 0;
  border-radius: 4px;
}

.game-status p {
  margin: 10px;
}

.game-status h2 {
  font-size: 1.25rem;
  margin: 5px;
}

.lose-status {
  width: 100%;
  text-align: center;
  border-radius: 4px;
  background-color: #ba2a2a;
}

.win-status {
  width: 100%;
  text-align: center;
  border-radius: 4px;
  background-color: #10a95b;
}

.language-chips {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: center;
  max-width: 350px;
}

.chip {
  border-radius: 3px;
  padding: 4.5px;
  position: relative;
}

.chip.lost::before {
  content: "💀";
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  font-size: 0.85rem;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

.word-guess {
  height: 40px;
  width: 40px;
  background-color: #323232;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.125rem;
  border-bottom: 1px solid #f9f4da;
}

.guess-el {
  font-size: 1.25rem;
  padding: 25px 0;
  display: flex;
  justify-content: center;
  gap: 3px;
}

.alphabet-buttons {
  max-width: 350px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
}

.char-btn {
  padding: 15px;
  background-color: #fcba29;
  border: none;
  border-radius: 7px;
  cursor: pointer;
}

.char-btn:disabled{
    cursor: not-allowed;
    opacity: 0.5
}


.new-game-btn {
  background-color: #11b5e5;
  border: 1px solid #d7d7d7;
  border-radius: 4px;
  width: 225px;
  height: 40px;
  padding: 6px 12px;
  display: block;
  margin-inline: auto;
  cursor: pointer;
  margin-top: 30px;
}

.correct {
  background-color: #10a95b;
}
.wrong {
  background-color: #ec5d49;
}
